*,html, body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

html, body {
  background: #4A90E2;
  color: #ffffff;
  font-family: sans-serif;
}

audio {
    display: none;
}

#main {
  margin: 0 auto;
}

#machine {
  background: #2C70B7;
  border-radius: 30px;
  border: 2px solid #1C4570;
  padding-top: 20px;
  -moz-box-shadow: 0px 12px 0px 3px #1C4570;
  -webkit-box-shadow: 0px 12px 0px 3px #1C4570;
  box-shadow: 0px 12px 0px 3px #1C4570;
  max-width: 290px;
  min-height: 450px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#machine h3 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

#machine h1 {
  font-size: 23px;
  margin: 12px 0 23px;
}

#machine ul, #machine ul li {
  list-style: none;
}

#machine ul {
  max-width: 80%;
  margin: 10px auto;
  text-align: center;
}

#machine ul li {
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0px 4px 0px 1px #1C4570;
  -webkit-box-shadow: 0px 4px 0px 1px #1C4570;
  box-shadow: 0px 4px 0px 1px #1C4570;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 30px;
}

#machine ul li.touch {
  -moz-box-shadow: 0px 1px 0px 1px #1C4570;
  -webkit-box-shadow: 0px 1px 0px 1px #1C4570;
  box-shadow: 0px 1px 0px 1px #1C4570;
  opacity: 0.7;
}

#machine ul li[data-no-margin-right] {
  margin-right: 0px;
}

#machine #speakerMask {
    height: 185px;
    background: url('img/speaker-mask.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: 200px;
    position: relative;
}

#machine #diego {
    height: 90px;
    background: url('img/diego.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 140px;
    background-size: 140px;
    position: absolute;
    bottom: 0;
    right: 19px;
}
